<!DOCTYPE html>
<html lang="en" dir="ltr">

    <%- include('partials/head') %>

    <body class="main">

        <%- include('partials/nav') %>

        <hr>

        <main class="main">
            <header class="main">
                <h1>Hello, world! I am <a href="/about">Ayo</a>, I make <a href="#posts">stuff</a>.</h1>
                <a href="#posts">↓</a>
            </header>

            <section class="posts">
                <header class="posts">
                    <h2>I make stuff.</h2>
                </header>
                <div class="container">
                <%posts.forEach(post => {%>

                    <article>
                        <h2><%= post.title %></h2>
                        <p><%= post.description %></p>
                        <a href="/posts/<%= post._id %>">↗</a>
                        <button class="delete" data-post="<%= post.id %>">Delete.</button>
                    </article>

                <%})%>
                </div>
            </section>
        </main>

        <%- include('partials/footer') %>

    </body>
</html>
