<!DOCTYPE html>
<html lang="en" dir="ltr">

    <%- include('partials/head') %>

    <body>

        <%- include('partials/nav') %>

        <header>
            <h1>I make <a href="/posts">stuff</a>.</h1>
        </header>

        <%posts.forEach(post => {%>

            <article>
                <h2><%= post.title %></h2>
                <p><%= post.description %></p>
                <a href="/posts/<%= post._id %>">↗</a>
                <button class="delete" data-post="<%= post.id %>">Delete.</button>
            </article>
            <%if(posts[posts.length - 1] !== post){%>
            <hr>
            <%}%>

        <%})%>

    </body>
</html>
